@import "@/styles/Variables.module.scss";
@import "@/tools/Viewport/Viewport.module.scss";

.dates {
  font-size: 12px;
  line-height: 1.16em;
  color: $gray;

  &__since {
    display: inline;
    margin-right: 2px;
  }

  span + span {

    &:before {
      content: " - ";
    }
  }
}