@use "sass:math";
@import "@/tools/Viewport/Viewport.module.scss";
@import "@/styles/Variables.module.scss";

.header {

  &__wrapper {

    @include viewport-sm {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__title,
  &__visual,
  &__text {
    position: relative;
  }

  &__title {
    z-index: 2;
    text-align: right;

    @include viewport-sm {
      flex: 0 0 100%;
      padding-right: percentage(math.div(2,8));
    }

    @include viewport-md {
      padding-right: percentage(math.div(11,24));
    }
  }

  &__visual,
  &__text {
    z-index: 1;
  }
  
  &__visual {
    position: relative;
    padding: 50px 60px;
    margin-top: -15px;

    @include viewport-sm {
      order: 2;
      flex: 0 0 percentage(math.div(5, 8));
      padding: 50px percentage(math.div(1,8));
      margin-top: -30px;
    }

    @include viewport-md {
      flex: 0 0 percentage(math.div(7,12));
      padding: 90px percentage(math.div(2,12));
      margin-top: -75px;
    }

    &__wrapper {
      position: relative;
      width: fit-content;
      margin: 0 auto;
    }

    &__slot {
      position: absolute;
      z-index: 2;
      height: 30px;
      width: 80px;
      
      span {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        background-color: $yellow;
        
        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          left: 50%;
          transform: translateX(-50%);
          height: 100%;
          width: 90%;
          background-color: rgba($black, .15);
        }
      }

      &.slot__top {
        top: 0;
        left: 0;
        transform: translateX(-50%) rotate(-45deg);
        transform-origin: top center;

        span {

          &::after {
            top: 5%;
          }
        }
      }

      &.slot__bottom {
        right: 0;
        bottom: 0;
        transform: translateX(50%) rotate(-45deg);
        transform-origin: bottom center;

        span {

          &::after {
            bottom: 6%;
          }
        }
      }
    }

    &__image {
      position: relative;
      z-index: 1;
      border-radius: 15px;
      overflow: hidden;
      height: auto;
    }
  }

  &__text {
    margin-top: 30px;

    @include viewport-sm {
      flex: 0 0 percentage(math.div(3, 8));
      padding-right: percentage(math.div(1,16));
      margin-top: 0;
    }

    @include viewport-md {
      flex: 0 0 percentage(math.div(5,12));
      padding: 0 percentage(math.div(1,12));
    }
  }
}