@import "@/styles/Variables.module.scss";
@import "@/tools/Viewport/Viewport.module.scss";

.experiences {
  position: relative;

  &__list {
    margin-top: 30px;
  }

  &__item {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba($black, .15);

    @include viewport-sm {
      padding: 20px 30px;
    }

    @include viewport-md {
      margin: 20px auto;
      max-width: 80%;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}